<div class="container_big_card">
    
<div class="big_card_photo">
    
<img src="https://imageio.forbes.com/specials-images/imageserve/63600220295903240c876e05/0x0.jpg?format=jpg&height=600&width=1200&fit=bounds"

alt="" 
height="200px"

srcset="">
</div>

<div class="big_card_title">
<h1><a href="#">Saiu a nova verção do angular</a></h1>
</div>
<div class="big_card_description">
<p><a href="#"></a> ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur mauris sit amet elit iaculis placerat. Ut diam lacus, ornare ut scelerisque id, efficitur vitae libero. Morbi rutrum magna leo, in hendrerit dui luctus eu. Morbi vitae lorem nunc. Maecenas efficitur lectus metus. </p>
</div>

</div>

