

<app-menu-title ></app-menu-title>
<div class="container_articles">
<div class="articles_main">
<app-big-card 
Id="1"
photoCover="https://imageio.forbes.com/specials-images/imageserve/63600220295903240c876e05/0x0.jpg?format=jpg&height=600&width=1200&fit=bounds"
cardTitle="HOMEN DE FERRO EM 3D"
cardDescription="Marvel studios anuncia novo filme homen de ferro que estara nos cinemas e na tv em breve."
>
    
</app-big-card>
</div>

<div class="articles_other">
    <app-small-card 
    Id ="2"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkcdbUQA6p2bQd1DjyN1Kzx9QpMFlLuUd9NACy-TKDeQk48aep_M4QMzNGSR9mpnASZvc&usqp=CAU"
    cardTitle="Sobre as series e filmes da marvel!"
    ></app-small-card>
    <app-small-card
    Id = "3"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1SFBuA_8Sktlyyi3zCqJ00OGgK7b7x87B-Q&usqp=CAU"
    cardTitle="Curiosidade sobre filme pantera negra!"
    ></app-small-card>
    <app-small-card
    Id = "4"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbH2M72swgBUSqEZQQJnQA0MSsII8oW9JXS_E0aFVYNXQSr6E77L3lK5eWm51MDkJxJ34&usqp=CAU"
    cardTitle="Infopédia sobre X-Men!"
    ></app-small-card>
</div>
</div>
